{% extends 'base.html'%}

{% block title %}To'liq ko'rish{% endblock title %}
{% load static %}
{%block extrahead%}
  <script>window.CKEDITOR_BASEPATH = 'staticfiles/ckeditor/ckeditor'; </script>
  {{block.super}}
{%endblock%}  
{% block content %}
<h1 style="text-align: center;">Batafsil</h1>
    <div class="card-deck" style="
    padding-left: 400px;
    padding-right: 400px;"> 
        <div class="card">
            {% if object.photo %}
                <img src="{{ object.photo.url }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text">{{ object.body | safe }}</p>
                <br>
            </div>
          <div class="card-footer">
            <small class="text-muted">{{ object.auther.first_name }} | {{object.date }}</small>
            {% if request.user == article.auther %}
            <a href="{% url 'article_edit' article.pk %}">Taxrirlash</a> | <a href="{% url 'article_delete' article.pk %}">O'chirish</a> | 
            <a href="{% url 'article_list' %}">Orqaga</a>
            {% endif %}
          

          </div>
        </div>
    
    </div>
    <br>

{% endblock content %}